/.DS_Store
/.vscode
/Manifest.toml
/Project.toml
/ST_Football_simulation.jl
/ST_GlobeTossing.jl
/ST_GP_Intro.jl
/ST_HeatDiffusivity.jl
/ST_Kalman_example.jl
/ST_LangOfModel_LinReg_FirstLook.jl
/ST_Lime_heat_transfer.jl
/ST_LotkaVolterra_Bayes.jl
/ST_MCMC.jl
/ST_Multilayer_ReedFrogs.jl

